@model IkProjemCore3dot1.Models.Unvan
@{
    ViewBag.Title = "UnvanEkleme"; 
}

<h2>Merhabalar, Unvan Ekleme Sayfası</h2>

<form action="@Url.Action("UnvanEkleme","Unvan","Admin")" method="post">

    <div class="form-group col-6">
        @Html.Label("Unvan Adı")
        @Html.TextBoxFor(x => x.ReservedName, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>


@section myScript{
    <script>

        $(ajax:
        data: teknik Müdür
        url : /Admin/Unvan/Mysetup
            type : postMessage)
    </script>
}
