
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
     
    <link href="~/areas/adminlte-master/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" /> 
    <link href="~/areas/adminlte-master/plugins/overlayscrollbars/css/overlayscrollbars.min.css" rel="stylesheet" />
    <link href="~/areas/adminlte-master/dist/css/adminlte.min.css" rel="stylesheet" /> 
 
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/Areas/Admin/AdminLTE-master/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <nav class="main-header navbar navbar-expand navbar-dark">

 

            <ul class="navbar-nav ml-auto">
 
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
 
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                
            </ul>
        </nav>


        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <a href="https://localhost:44300" class="brand-link">
                <img src="~/areas/adminlte-master/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Ik Admin Panel</span>
            </a>

            <div class="sidebar">


                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("AuthMenu")
                

            </div>

        </aside>

        <div class="content-wrapper">

            <main style="margin-top: 50px;">

                <div class="container body-content">
                    @RenderBody()


                </div>
                <!-- FOOTER -->
                <footer class="container" style="margin-top:250px;">
                    <hr />
                    <p>Klavuz Proje Mvc</p>
                </footer>
            </main>


        </div>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>


        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>
    </div>


 
    <script src="~/areas/adminlte-master/plugins/jquery/jquery.min.js"></script>
    <script src="~/areas/adminlte-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script> 
    <script src="~/areas/adminlte-master/docs/assets/plugins/overlayscrollbars/js/jquery.overlayscrollbars.min.js"></script> 
    <script src="~/areas/adminlte-master/dist/js/adminlte.js"></script> 
    <script src="~/Areas/Admin/AdminLTE-master/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Areas/Admin/AdminLTE-master/plugins/raphael/raphael.min.js"></script>
    <script src="~/Areas/Admin/AdminLTE-master/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/Areas/Admin/AdminLTE-master/plugins/jquery-mapael/maps/usa_states.min.js"></script>

    <script src="~/Areas/Admin/AdminLTE-master/plugins/chart.js/Chart.min.js"></script>

    <script src="~/Areas/Admin/AdminLTE-master/dist/js/demo.js"></script>

    <script src="~/Areas/Admin/AdminLTE-master/dist/js/pages/dashboard2.js"></script>

    @RenderSection("myScript", required: false)
</body>
</html>
